.navBarContainer {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 44px;
}

.navBarCenter {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  max-width: 1000px;
}

#navBarLogo {
  max-height:70%;
}
