.navBarContainer {
  position: relative;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 44px;
}

.navBarMain {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 44px;
  max-width: 1000px;
}

.navBarLeft {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 44px;
  max-width: 333px;
}

.navBarCenter {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 44px;
  max-width: 334px;
}

.navBarRight {
  position: relative;
  color: #999999;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 44px;
  max-width: 333px;
}

#navBarLogo {
  max-height:70%;
  width: 75px;
  margin-right: 10px;
}

.navBarHome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 95px;
}

.navBarUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 95px;
}

#uploadButton {
  color: #999999;
  background-color: black;
  border: none;
  font-size: 16px;
}
.navBarUser {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #333333;
  height: 100%;
  width: 190px;
}

.profileButton {
  justify-self: flex-start;
  margin-left: 15px;
  height: 44px;
  cursor: pointer;
}

.profileButtonImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #333333;
  color: #999999;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.navBarUsername {
  color: #999999;
  margin-left: 10px;
}
