* {
  font-family: 'Overpass', sans-serif;
}

.main_container {
  background-color: #0E0E0E;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center
}

.discover_container {
  height: 89vw;
  width: 75vw;
  background-color: #171717
}

.trackCarousel {
  display: flex;
  flex-direction: row;
}

.trackSlot {
  display:flex;
  flex-direction: column;
  width: 175px;
  margin: 12.5px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

}

.albumArt {
  height: 175px;
  width: 175px;
}

.trackInfo {
  align-self: flex-start;
  margin-top: 5px;
  text-decoration: none;
  color: #999999
}

.trackInfo:hover {
  color: #333333
}
