
#signupButton {
  height: 30px;
  width: 350px;
  border: none;
  justify-self: flex-end;
  color: #FFFFFF;
  background-color: #5400ff ;
  margin-right: 10px;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  z-index: 999;
}

#loginButton {
  width: 350px;
  height: 30px;
  border: none;
  background-color: #5400ff ;
  color: #FFFFFF;
  justify-self: flex-end;
  border-radius: 2px;
  box-sizing: content-box;
  margin-left: 510px;
  margin-top: 10px;
  position: relative;
  z-index: 999;
}

.formContainer {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  /* justify-content: space-evenly; */
}

.field {
  height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px
}

#loginSubmitButton,
#signupSubmitButton {
  color: #FFFFFF;
  background-color: #00abff ;
  box-sizing: content-box;
  border: none;
  padding: 3px;
  height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px
}
